:root{
    --azul:#044157;
    --verde: #A8FC0E;
}

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif!important;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{

}

a {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 1.2em;
  font-style: italic;
  font-weight: 900;
  line-height: 24px;
}

a:hover {
  color: var(--verde);
  text-decoration: none;
}

header{
  opacity: 0.88;
  z-index: 4;
  background: #044157;
}

.cont-header {
  padding: 20px 0;
}


/* MENU DE NAVEGACION */

.logo img{
    margin: 0;
    width: 230px;
}

.nav-top-bar {
  font-size: 0.7em;
}

.nav-link  {
    padding: 0 10px;
}

.linea-tbar{
    border-top: solid 3px var(--verde);
    margin-top:1em !important;
    margin-bottom:1em !important;
}



/*SLIDER*/
.carousel-caption {
  bottom: 40%;
  text-align: left;
}



.carousel-item h5 {
  font-family: 'Roboto';
  font-size: 3em;
  font-weight: 900;
  line-height: 1.2em;
  text-shadow: 2px 4px 4px rgba(100,100,100,0.5);
  text-transform: uppercase;
}


/*FEATURE BAR*/

#caracteristicas{
  background-color: var(--verde);
  padding: 36px 0;
}

#caracteristicas p{
  color: var(--azul);
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
}

#caracteristicas h3 {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 900;
  line-height: 34px;
  text-shadow: 3px 3px 3px rgba(100,100,100,0.5);
}

#caracteristicas i {
  color: var(--azul);
  text-shadow: none;
}


font-family: 'Roboto', sans-serif;


@media only screen and () {

}
